.btn {
  font-family: $secondary-font;
  border: none;
  color: $white !important;
  padding: 20px 45px;
  border-radius: 0;

  &:focus {
    box-shadow: none;
  }

  @include desktop {
    padding: 17px 40px;
  }

  .btn-area {
    display: block;
    overflow: hidden;
  }
}

.btn-sm {
  padding: 15px 40px !important;
}

.btn-sm-rounded {
  border-radius: 40px;
}

.btn-primary {
  background: $primary-color;
  color: $white;
  transition: background-color 0.5s;
  &:hover {
    background: darken($color: $primary-color, $amount: 15);
  }
}

.btn-secondary {
  background: $secondary-color;
  color: $white;
  transition: background-color 0.5s;
  &:hover {
    background: darken($color: $secondary-color, $amount: 15);
  }
}
