.membercard {
  background-color: $aboutcard-color;
  border-radius: 2rem;
  padding: 0.25rem;
  padding-bottom: 0;
  margin-bottom: 1.75rem;
  display: flex;
  flex-direction: column;

  &-member {
    display: flex;
    flex-direction: row;
    position: relative;
    height: inherit;
    padding: 1rem;
    overflow: scroll hidden;
    overflow-wrap: break-word;
    clear: both;

    &-name {
      h2,
      h3,
      p {
        font-family: "IBM Plex Mono";
      }

      @media screen and (max-width: 767px) {
        h2 {
          font-size: 1.3em;
        }
      }

      display: flex;
      flex-direction: column;
      justify-content: center;
      height: max-content;

      margin: 0;
      margin-top: 0rem;
      padding: 0;
      height: 80px;
      margin-left: 1.5rem;
    }

    &-image {
      background-color: $aboutcard-color;
      object-fit: cover;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      margin-bottom: 0px;
      padding-bottom: 0;
    }
  }

  &-description {
    background-color: $aboutcard-color;
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    margin-top: 0;
    height: max-content;
  }

  &-socials {
    background-color: $aboutcard-color;
    font-size: larger;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.2rem;

    &-item {
      display: flex;
      background-color: $aboutcard-color;
      justify-content: center;
      align-items: center;
      background-color: $gray;
      color: $text-color;
      border-radius: 10px;
      padding: 0.7rem;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      margin-right: 0.7rem;
      margin-bottom: 0.7rem;
    }
  }
}
