{{ with .Site.Data.members }}
    <p><b>We are the Revolutionary Committee of S08-16.</b></p>
    <p>
        A group dedicated to sticking random pieces of paper on the wall and
        negotiating with admin to reduce assessments (Thanks Dr. Eksplosive!),
        Our team has a special set of talents and abilities that allows us to
        lead the holy land to success.
    </p>
    <p>
        We ensure the positive peace within our land in S08-16, the Marcosian Republic, along with
        protecting the free speech of all students. May S08-16 prosper well into the future!
    </p>
    <p>
        <b><i>Note:</i></b> We do not follow any major political ideologies, such as Communism. If you are
        interested in joining our neighboring republic as a citizen and its ruling entity, the
        Federated Students' Defensive Coalition (FSDC), please contact me. I will direct you to Arsenii
        Buzakin, the leader. We are only a managerial entity and do not focus on rulership and the
        overpoliticization of Marcosia.
    </p>
    <br />

    {{ range .members }}
        <div class="membercard">
            <div class="membercard-member">        
                <img src="{{ .avatar | absURL }}" alt="profile picture" class="membercard-member-image">
                <div class="membercard-member-name">
                    <!-- TODO: less quick-n-dirty solution to wrapping -->
                    <h2 style="margin: 0;">{{ .name }}</h2>
                    <p style="margin: 0;">{{ .role }}</p>
                </div>
            </div>
            <div class="membercard-description">
                <p>{{ .description }}</p>
                
                <div class="membercard-socials">
                    {{ with .discord }}
                        <div class="membercard-socials-item">
                            <span class="fa-brands fa-discord" style="margin-right: 5px; font-size: small;" />
                            <span style="font-family: 'IBM Plex Mono', monospace; font-size: medium;">{{ . }}</span>
                        </div>
                    {{ end }}

                    {{ with .email }}
                        <div class="membercard-socials-item">
                            <span class="fa-solid fa-envelope" style="margin-right: 5px; font-size: small;" />
                            <span style="font-family: 'IBM Plex Mono', monospace; font-weight: 400; font-size: medium;">{{ . }}</span>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    {{ end }}
{{ end }}

