<div class="blogtile-tags">
    {{ with .Params.tags }}
        {{ range .}}
            <div class="blogtile-tag">
                <span class="blogtile-tag-text" style="margin:0;  font-family: 'Inter', sans-serif; font-size: medium;">{{ . }}</span>
            </div>
        {{ end }}    
    {{ end }}
    {{ with .Params.generation }}
        {{ if (gt . 9) }}
        {{ else }}
        <div class="blogtile-tag">
            <span class="blogtile-tag-text" style="margin:0;  font-family: 'Inter', sans-serif; font-size: medium;">Gen {{ . }}</span>
        </div>
        {{ end }}
    {{ end }}
</div>